<div class="col-12 col-lg-9">
   <div class="row"> <div class="col-12 col-md-6">
     <p class="rating">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"> </i>
       <i class="fas fa-star"> </i>
       <i class="fas fa-star"> </i>
       <i class="far fa-star"> </i>
     </p>
     <p>s1</p>
     <div class="card card-primary">
       <div class="card-block">
         <h2 class="card-title">Duration </h2>
         <p class="card-text">267774.89753</p>
         <p class="card-text">s5</p>
         <p class="card-text">s5</p>
        </div>
      </div>
      <div class="card card-primary">
         <div class="card-block">
           <h2 class="card-title">Facilities </h2>
           <span class="badge badge-warning"> <i class="fa fa-check"> </i>&nbsp; ss1 </span>
           &nbsp;
           <span class="badge badge-warning"> <i class="fa fa-check"> </i>&nbsp; ss2 </span>
           &nbsp;
           <span class="badge badge-warning"> <i class="fa fa-check"> </i>&nbsp; ss3 </span>
           &nbsp;
          </div></div>
        </div>
        <div class="col-12 col-md-6 location-map">
           <div class="card card-primary">
             <div class="card-block">
               <h2 class="card-title">LA Pictures </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
           <div class="col-12">
             <div class="card-primary review-card">
               <div class="card-block">
                 <a class="btn btn-primary float-right" href="/ms/6389b5b3f74f04e3e212c2bb/sms/new">Add SM </a>
                 <h2 class="card-title">SMs </h2>
                 <div class="row review">
                   <div class="col-12 no-gutters review-header">
                     <small class="reviewTimestamp"> 2022 11 2 ----&gt;   </small>
                     <small class="reviewTimestamp">2</small>
                     <small> <a class="float-right" href="/ms/6389b5b3f74f04e3e212c2bb/sms/638a2ccbb214d58ea35fbf1d/del">delete</a></small>
                    </div>
                    <div class="col-12">
                       <p>fake data is key</p>
                    </div>
                  </div>
                  <div class="row review">
                     <div class="col-12 no-gutters review-header">
                       <small class="reviewTimestamp"> 2022 11 2 ----&gt;   </small><small class="reviewTimestamp">32</small>
                       <small> <a class="float-right" href="/ms/6389b5b3f74f04e3e212c2bb/sms/638a2cdfb214d58ea35fbf25/del">delete</a></small>
                      </div>
                      <div class="col-12">
                         <p>even more is better</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>