<div class="row">
  <div class="col-12" >
    <small>
      <button  class="btn-primary" >add Personals </button>
      <a routerLink="/login"><button class="btn-primary"  >log in to add Personal </button>
      </a>
    </small>
  </div>
</div> 
<div *ngFor="let personal of personals" class="card">
   <div class="card-block"> 
   </div>
   <h4> <a routerLink="/personals/{{personals._id}}">{{personal.name}}</a>
    <small>&nbsp;
      <a  style="font-size: 0.8em" class="btn float-right" >delete</a>
      <div >
        <button style="font-size: 0.7em"  class="btn btn-primary float-right">cancel</button>
        <button style="font-size: 0.7em"  class="btn btn-primary float-right">are you sure?</button>
      </div>
    </small>
  </h4>
  <small><span class="badge badge-pill badge-default float-right">{{personal.idNo}}</span></small>
  <p class="address">{{personal.nationality}}</p>
  <div class="facilities">
    <span *ngFor="let language of personal.languages" class="badge badge-warning">{{language}}</span>
  </div>
  <small><span class="badge badge-pill badge-default float-right">{{personal.user}}</span></small>
</div>