extends layout 

block content 
  .row.banner 
    .col-12 
      h1 ppApp 
        small &nbsp; Create and update personal profile for work applications! 
  .row 
    .col-12.col-md-8 
      block main_content 
    .col-12.col-md-4 
      p.lead ppApp helps you find work with a professional personal profile that impresses potential recruiters.      