extends content-layout

block main_content
  .card 
    .card-block 
      h4 
        a(href='/m') LA 
        small &nbsp;
          i.fas.far-star
          i.fas.far-star
          i.fas.far-star
          i.fas.far-star
          i.fas.far-star
        span.badge.badge-pill.badge-default.float-right a1 
      p.address a2 
      .facilities 
        span.badge.badge-warning aa1
        span.badge.badge-warning aa2
        span.badge.badge-warning aa3

