extends content-layout

block main_content
  each m in Ms
    .card 
      .card-block 
        h4 
          a(href='/m') #{m.a1} 
          small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          span.badge.badge-pill.badge-default.float-right= m.a2 
        p.address= m.a2 
        each facility in m.facilities
          .facilities 
            span.badge.badge-warning= facility
  